*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/app/build/intermediates/javac/debugAndroidTest/compileDebugAndroidTestJavaWithJavac/classes/
/common-base/build/
/common-base/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/common-storage/build/
/common-storage/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/common-test/build/
/common-ui/build/
/feature-asteroids/build/
/feature-asteroids/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature-photo-day/build/
/feature-photo-day/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature-planets/build/
/feature-planets/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature-profile/build/
/feature-profile/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/